---
Language: Cpp
BasedOnStyle: LLVM

# 基础格式
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# 大括号不单独换行
BreakBeforeBraces: Attach

# 禁止把控制语句压缩成一行
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

# 参数换行
AlignAfterOpenBracket: Align
AlignOperands: Align
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

# 不添加空格来对齐连续声明或赋值
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false

# 指针和引用靠近类型
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# public、protected、private 与 class 内侧边界对齐
AccessModifierOffset: -4
IndentAccessModifiers: false

# 构造函数初始化列表
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

# switch/case
IndentCaseLabels: true
IndentCaseBlocks: false

# 命名空间
NamespaceIndentation: None
FixNamespaceComments: true
CompactNamespaces: false

# 头文件排序
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # 标准库和第三方库头文件
  - Regex: '^<.*>$'
    Priority: 1

  # 项目内部头文件
  - Regex: '^".*"$'
    Priority: 2

# 空格规则
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpaceAfterCStyleCast: false

# 列表初始化
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

# 空行和注释
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: false

# Linux 行尾
DeriveLineEnding: false
UseCRLF: false
...
